<form style="margin: auto; margin-bottom: 330px; margin-top: 300px; max-width: 330px; padding: 15px; width: 100%;" method="post" action="Login">
    <h1 class="h3 mb-3 font-weight-normal">Выполните вход в аккаунт</h1>

    <label for="inputPassword" class="sr-only">Имя пользователя</label>
    <input id="Login" name="Login" class="form-control" placeholder="Login" required="" autofocus="">

    <label for="inputPassword" class="sr-only">Пароль</label>
    <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" required="">

    <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 10px;">Войти</button>
    <p>Ещё не зарегистрированы? <a href="../Account/Register">Регистрация</a></p>
</form>