<div class="container h-100" style="margin-top: 19%; margin-bottom: 19%;">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="container">
                    <h1 align="center">Спасибо вам за вашу покупку!</h1>
                    <p class="lead" align="center">Проверьте ваш электронный адрес.<br> Ваше заветный ключик уже лежит там.</p>
                    <a class="btn btn-primary d-flex justify-content-center" href="/Home/Index" role="button" style="margin-left: 20%; margin-right: 20%">Вернуться на главную</a>
                </div>
            </div>
        </div>
    </div>  
</div>